{% extends "base_header.html" %}

{% block content %}


<!-- Login Form -->
<div class="bg-white shadow-2xl rounded-lg p-10 w-full max-w-md">
    <h2 class="text-3xl font-extrabold text-center text-gray-800 mb-8">Iniciar Sesión</h2>

    <form action="{% url 'login' %}" method="post" class="space-y-6">
        {% csrf_token %} {% load tailwind_filters %}
        {{ form|crispy }}

        <!-- Submit Button -->
        <button type="submit" class="w-full bg-blue-600 text-white py-3 rounded-lg font-bold text-lg hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 transition">
            Ingresar
        </button>
    </form>

    <!-- Forgot Password and Create Account Links -->
    <div class="mt-6 text-center space-y-4">
        {% comment %} <a href="" class="text-base text-blue-500 hover:text-blue-600 font-medium">¿Olvidaste tu contraseña?</a> {% endcomment %}
        <p class="text-gray-700">¿No tienes una cuenta? 
            <a href="{% url 'signup' %}" class="text-blue-500 hover:text-blue-600 font-medium">Crear cuenta</a>
        </p>
    </div>
</div>
{% endblock content %}

