{% extends "base.html" %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-8 mt-8">
    <h2 class="text-3xl font-extrabold text-black mb-6">Crear Nuevo Proyecto</h2>
    <form method="POST" action="{% url "create_project"  %}">

        {% csrf_token %} 
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        
        <!-- Botones -->
        <div class="flex justify-end space-x-4">
            <a href="{% url "home_projects" %}" class="bg-gray-200 text-gray-700 py-2 px-4 rounded-lg hover:bg-gray-300">
                Cancelar
            </a>
            <button type="submit" class="bg-primary text-white py-2 px-4 rounded-lg hover:bg-primary-dark shadow" >
                Guardar Proyecto
            </button>
        </div>
    </form>
</div>
{% endblock content %}

